<config>
    <modules>
        <Stas_Complex>
            <version>0.1.0</version>
        </Stas_Complex>
    </modules>

    <frontend>
        <routers>
            <complex>
                <use>standard</use>
                <args>
                    <module>Stas_Complex</module>
                    <frontName>complex</frontName>
                </args>
            </complex>
        </routers>

        <layout>
            <updates>
                <stascomplex>
                    <file>stascomplex.xml</file>
                </stascomplex>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <stascomplex>
                <class>Stas_Complex_Block</class>
            </stascomplex>
        </blocks>
    </global>
</config>